<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/nav') %> <% if (user) { %>
    <%= JSON.stringify(blogs, null, 2) %> 
    <% } else { %>
    <p style="color: red">You are not logged in.</p>
    <% } %> <%- include('./partials/script') %>
  </body>
</html>
